[Interface]
PrivateKey = {{ client_private_key.stdout }}
Address = {{ client_private_ip }}/32
DNS = {{ client_dns1 }},{{ client_dns2 }}
[Peer]
PublicKey = {{ server_public_key.stdout }}
PresharedKey = {{ client_psk.stdout }}
Endpoint = {{ endpoint }}
AllowedIPs = {{ allowed_ips }}