SERVER_PUB_IP={{ server_pub_ip }}
SERVER_PUB_NIC={{ server_nic }}
SERVER_WG_NIC={{ server_wg_nic }}
SERVER_WG_IPV4={{ server_wg_ipv4 }}
SERVER_WG_IPV6={{ server_wg_ipv6 }}
SERVER_PORT={{ server_port }}
SERVER_PRIV_KEY={{ server_private_key.stdout }}
SERVER_PUB_KEY={{ server_public_key.stdout }}
CLIENT_DNS_1={{ client_dns1 }}
CLIENT_DNS_2={{ client_dns2 }}
ALLOWED_IPS={{ allowed_ips }}